# maven #
target
logs

# eclipse #
.settings
.project
.classpath
.log
.gradle

# windows #
Thumbs.db

# Mac #
.DS_Store

# Package Files #
*.war
*.ear

# idea #
*.iml
.idea/
overlays

node_modules/
package.json
yarn.lock